<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">The advantages of ICECREAM</h2>
    <ul class="list advantages__list-benefits benefits-list">
      <li class="benefits-list__item">
        <h3 class="benefits-list__title--01">721</h3>
        <p class="benefits-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__title--02">16kg</h3>
        <p class="benefits-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits-list__item">
        <h3 class="benefits-list__title--03">84</h3>
        <p class="benefits-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
