<footer class="footer-section" id="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer-product">
        <ul class="footer-product__list">
          <p class="footer-product__text1">homemade ice cream made</p>
          <p class="footer-product__text2">with passion</p>
        </ul>
      </div>
      <div class="footer__nav">
        <div class="footer-social">
          <ul class="footer-social__list">
            <li class="footer-social__item">
              <a href="https://github.com/" target="_blank" class="footer-social__link">
                <svg class="footer-social__icon" width="18.82" height="18.82">
                  <use href="./images/icons.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="tg://" target="_blank" class="footer-social__link">
                <svg class="footer-social__icon" width="19.2" height="14.9">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="https://www.facebook.com/" target="_blank" class="footer-social__link">
                <svg class="footer-social__icon" width="9" height="19">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <p class="footer-contact__text">
            Feel free to contact
            <a class="footer-contact__tel" href="tel:+670383766284">+61 (0) 383 766 284</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-сopyright">
    <p class="footer-сopyright__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
