<section class="header">
  <div class="container header-thumb">
    <a class="header__logo" href="./index.html">
      <picture>
        <source
          srcset="./images/pc/heder-logo.png 1x, ./images/pc/heder-logo-2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="./images/tab/heder-logo-tab.png 1x, ./images/tab/heder-logo-tab-2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <img
          class="header-img__logo"
          src="./images/mob/heder-logo-mob.png"
          srcset="./images/mob/heder-logo-mob.png 1x, ./images/mob/heder-logo-mob-2x.png 2x"
          alt="Logo"
        />
      </picture>
    </a>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu__icon" width="20" height="12">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation-list list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--aktive link" href="./index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Кнопка BuyNow для HEADER -->
    <button type="button" class="btn header__btn">
      Buy now<span class="header__btn-arrow">
        <svg class="svg btn-svg" width="9" height="9">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </span>
    </button>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="mobile-menu__icon" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- Кнопка BuyNow для Бургера -->
    <button type="button" class="btn header-burger__btn">
      Buy now<span class="header-burger__btn-arrow">
        <svg class="svg btn-svg" width="9" height="9">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </span>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="./index.html" class="mobile-menu__link mobile-menu__link--aktive link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link link">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link link">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#products" class="mobile-menu__link link">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link link">Contact</a>
      </li>
    </ul>
  </div>
</section>
