<section class="hero">
  <div class="container hero-container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--secondary">passion</span>
    </h1>
    <ul class="list hero__buttons buttons-hero">
      <li class="buttons-hero__item">
        <a href="#products" class="link btn buttons-hero__item--red">Products</a>
      </li>
      <li class="buttons-hero__item">
        <a href="#about" class="btn link buttons-hero__item--white"> How it’s made? </a>
      </li>
    </ul>
    <picture class="hero__img-milk">
      <source
        srcset="./images/pc/heder-milk.png 1x, ./images/pc/heder-milk-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/tab/heder-milk-tab.png 1x, ./images/tab/heder-milk-tab-2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <img src="./images/tab/heder-milk-tab-2x.png" alt="IceCream" />
    </picture>
    <picture class="hero__bg-ice-cream">
      <source
        srcset="./images/pc/ellipse-pc.png 1x, ./images/pc/ellipse-pc-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/tab/ellipse-tab.png 1x, ./images/tab/ellipse-tab-2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <img
        src="./images/pc/ellipse-pc-2x.png"
        srcset="./images/mob/ellipse-mob.png 1x, ./images/mob/ellipse-mob-2x.png 2x"
        alt="IceCream"
      />
    </picture>
    <picture class="hero__img-ice-cream">
      <source
        srcset="./images/pc/heder-ice-cream.png 1x, ./images/pc/heder-ice-cream-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/tab/heder-ice-cream-tab.png 1x, ./images/tab/heder-ice-cream-tab-2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <img
        src="./images/tab/heder-ice-cream-tab.png"
        srcset="./images/mob/heder-ice-cream-mob.png 1x, ./images/mob/heder-ice-cream-mob-2x.png 2x"
        alt="IceCream"
      />
    </picture>
    <picture class="hero__img-baby">
      <source
        srcset="./images/pc/heder-baby.png 1x, ./images/pc/heder-baby-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./images/tab/heder-baby-tab.png 1x, ./images/tab/heder-baby-tab-2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <img src="./images/tab/heder-baby-tab-2x.png" alt="IceCream" />
    </picture>
    <button type="button" class="round-button button-more">
      <svg class="round-button__icon" width="10" height="10">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <ul class="time-eat list">
      <li class="time-eat__item">
        <p class="time-eat__text">16</p>
        <p class="time-eat__food-points">cafes</p>
        <picture class="time-eat__img img-point-first">
          <source
            srcset="./images/pc/ellipse-second-pc.png 1x, ./images/pc/ellipse-second-pc-2x.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tab/ellipse-second-tab.png    1x,
              ./images/tab/ellipse-second-tab-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img src="./images/pc/ellipse-second-pc-2x.png" alt="IceCream" />
        </picture>
      </li>
      <li class="time-eat__item">
        <p class="time-eat__text time-eat__text--secondary">23</p>
        <p class="time-eat__food-points time-eat__food-points--secondary">food trucks</p>
        <picture class="time-eat__img img-point-secondary">
          <source
            srcset="./images/pc/ellipse-second-pc.png 1x, ./images/pc/ellipse-second-pc-2x.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tab/ellipse-second-tab.png    1x,
              ./images/tab/ellipse-second-tab-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img src="./images/pc/ellipse-second-pc-2x.png" alt="IceCream" />
        </picture>
      </li>
    </ul>
  </div>
</section>
