<div class="backdrop is-hidden" data-modal-map>
    <div class="modal-map">        
        <button type="button" class="modal-map__close" data-modal-map-close>
            <svg class="modal-map__close--icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="map">
            <iframe class="map__window"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23767.740629726515!2d-87.6287529!3d41.872044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca687332bf5%3A0x64d3fefce3a4a51!2z0JrQu9Cw0YPQtCDQk9C10LnRgg!5e0!3m2!1sru!2sua!4v1642674465621!5m2!1sru!2sua"
                style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>            
        </div>               
    </div>
</div>