<section class="products" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__head">products</h2>

    <div class="products-list list slider-products-container" id="slider-products">
      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--first">
          <h3 class="product-list__name product-list__name--first">ice cream</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button">
            <svg class="round-button__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--second">
          <h3 class="product-list__name product-list__name--second">ice coffee</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button">
            <svg class="round-button__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="products-list__card">
        <div class="products-list__card-coloured products-list__card-coloured--third">
          <h3 class="product-list__name product-list__name--third">milkshakes</h3>
          <p class="product-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product-list__text--dissapear">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="round-button">
            <svg class="round-button__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
