.advantages {
  background-color: var(--section-background-coloured-color);
  padding-top: 0;
  padding-bottom: 97px;

  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
}

.advantages__list-benefits {
  margin-top: 0;

  @media screen and (min-width: 768px) {
  }
}

.benefits-list {
  margin-bottom: -38px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-right: 0;
  }
}

.benefits-list__item {
  display: block;
  margin-bottom: 38px;
  max-width: 230px;

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 2 * 60px) / 3);
    // margin-right: 60px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: calc((100% - 2 * 30px) / 3);
    margin-right: 0;
  }
}

%benefits-list__title {
  font-family: Titan One, sans-serif;
  @include font(400, 36px, 1.14);
  text-transform: uppercase;
  color: var(--section-head-text-color);
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    @include font(400, 48px, 1.15);
    text-transform: none;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 1.14);
    text-transform: none;
    margin-bottom: 15px;
  }

  &::before {
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
}

.benefits-list__title--01 {
  @extend %benefits-list__title;
  &::before {
    width: 33px;
    height: 50px;
    background-image: url(../images/mob/icon1-mob.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mob/icon1-mob-2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/tab/icon1-tab.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tab/icon1-tab-2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/pc/icon1-pc.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/pc/icon1-pc-2x.png);
      }
    }
  }
}

.benefits-list__title--02 {
  @extend %benefits-list__title;
  &::before {
    width: 50px;
    height: 50px;
    background-image: url(../images/mob/icon2-mob.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mob/icon2-mob-2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/tab/icon2-tab.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tab/icon2-tab-2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/pc/icon2-pc.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/pc/icon2-pc-2x.png);
      }
    }
  }
}

.benefits-list__title--03 {
  @extend %benefits-list__title;
  &::before {
    width: 44px;
    height: 50px;
    background-image: url(../images/mob/icon3-mob.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mob/icon3-mob-2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/tab/icon3-tab.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tab/icon3-tab-2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/pc/icon3-pc.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
        background-image: url(../images/pc/icon3-pc-2x.png);
      }
    }
  }
}

.benefits-list__text {
  @include font($fs: 12px, $lh: 1.7, $ls: 0em);

  @media screen and (min-width: 768px) {
    @include font($lh: 1.74, $ls: 0em);
  }

  @media screen and (min-width: 1280px) {
    @include font($fs: 16px, $lh: 1.76, $ls: 0.02em);
  }
}
