.customer-reviews-section {
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}
.customer-reviews-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    // max-width: 620px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.customer-reviews-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-reviews-photo {
  display: flex;
  width: 85px;
  height: 85px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 29px auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.customer-reviews-wrap {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-left: 40px;
    max-width: 620px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
    margin-bottom: 15px;
    margin-left: 127px;
  }
}
.customer-reviews-wrap__background {
  background-color: #fafafa;
  padding: 43px 50px 20px 50px;
  @media screen and (min-width: 768px) {
    padding: 47px 36px 28px 60px;
  }
  @media screen and (min-width: 1280px) {
    padding: 32px 54px 32px 59px;
  }
}
.customer-reviews-wrap__gradient {
  position: relative;
  padding: 0 16px 1px 7px;
  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent,
    transparent 28px,
    #e1e1e1 29px,
    transparent 31px
  );
  @media screen and (min-width: 768px) {
    padding: 0 44px 6px 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 35px 7px 28px;
  }
}
.customer-reviews-wrap__text {
  min-width: 157px;
  position: relative;

  z-index: 90;
  @include font(500, 12px, 2.55, 0);
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 14px, $lh: 2.16);
  }
  @media screen and (min-width: 1200px) {
    @include font($fw: 500, $fs: 16px, $lh: 1.86);
  }
}
.customer-reviews-wrap__gradient::before {
  content: '';
  display: block;
  background-image: url(../images/quoters.png);
  position: absolute;
  left: 11px;
  top: -15px;
  width: 54px;
  height: 40px;
  @media screen and (min-width: 768px) {
    left: -20px;
    top: -17px;
  }
  @media screen and (min-width: 1200px) {
    left: -9px;
    top: -15px;
  }
}
.customer-reviews-wrap__subtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  // top: 200px;
  @include font($fw: 500, $fs: 14px, $lh: 1.86);
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fs: 16px, $lh: 1.86);
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    // max-width: 100%;
    @include font($fw: 500, $fs: 20px, $lh: 1.86);
  }
}
.customer-reviews-wrap__subtext::before {
  content: '';
  background-image: url(../images/ellipses.png);
  height: 4px;
  margin-bottom: 18px;
  // position: relative;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    // max-width: 100%;
    margin-bottom: 15px;
  }
}
// .slick-active {
//   background-image: url(../images/home1.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 20px;
//   height: 20px;
//   display: block;
//   opacity: 1;
// }

.customer-reviews-section .slick-dots button {
  position: relative;
  background-image: url(../images/ellipse7.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  opacity: 1;
}

.customer-reviews-section .slick-dots li.slick-active button {
  background-image: none;
}

.customer-reviews-section .slick-dots li button:before {
  content: '';
}

.customer-reviews-section .slick-dots li.slick-active button:before {
  content: '';
  position: absolute;
  background-image: url(../images/home1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: 1;
}
