.products {
  padding-top: 121px;
  padding-bottom: 55px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__label {
  font-family: 'Titan One', sans-serif;
  @include font(400, 18px, 1.17, 0);
  color: var(--section-label-text-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    @include font(normal, 26px, 1.15);
  }
  @media screen and (min-width: 1280px) {
    @include font(normal, 30px, 1.13);
  }
}

.products__head {
  font-family: 'Titan One', sans-serif;
  @include font(400, 34px, 1.15);
  color: var(--section-head-text-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    @include font(400, 48px);
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 58px, 1.14);
    margin-bottom: 49px;
  }
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 767.5px) {
    margin-bottom: -16px;
  }
}

.products-list__card {
  margin-bottom: 16px;
  padding-top: 113px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding-top: 111px;
    flex-basis: calc((100% - (3 - 1) * 20px) / 3);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 210px;
    flex-basis: calc((100% - (3 - 1) * 30px) / 3);
  }
}

.products-list__card-coloured {
  padding-top: 161px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 41px;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 50px;
  }
}

.products-list__card-coloured--first {
  background-color: var(--first-product-background-color);
}

.products-list__card-coloured--second {
  background-color: var(--second-product-background-color);
}

.products-list__card-coloured--third {
  background-color: var(--third-product-background-color);
}

.product-list__name {
  position: relative;
  font-family: 'Titan One', sans-serif;
  @include font(400, 20px, 1.15);
  color: var(--section-background-coloured-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1280px) {
    @include font(400, 30px, 1.13);
    margin-bottom: 32px;
  }
}

.product-list__name--first::before {
  content: '';
  position: absolute;
  top: -22px;
  transform: translatey(-100%);
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/mob/products-ice-cream-mob.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/products-ice-cream-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -30px;
    width: 220px;
    height: 226px;
    background-image: url(../images/tab/products-ice-cream-tab.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tab/products-ice-cream-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    top: -38px;
    width: 335px;
    height: 335px;
    background-image: url(../images/pc/products-ice-cream.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/pc/products-ice-cream-2x.png);
    }
  }
}

.product-list__name--second::before {
  content: '';
  position: absolute;
  top: -22px;
  transform: translatey(-100%);
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/mob/products-ice-coffee-mob.png);
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/products-ice-coffee-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -30px;
    width: 220px;
    height: 233px;
    background-image: url(../images/tab/products-ice-coffee-tab.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tab/products-ice-coffee-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    top: -38px;
    width: 337px;
    height: 335px;
    background-image: url(../images/pc/products-ice-coffee.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/pc/products-ice-coffee-2x.png);
    }
  }
}

.product-list__name--third::before {
  content: '';
  position: absolute;
  top: -22px;
  transform: translatey(-100%);
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/mob/products-milkshakes-mob.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mob/products-milkshakes-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -30px;
    width: 220px;
    height: 224px;
    background-image: url(../images/tab/products-milkshakes-tab.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tab/products-milkshakes-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    top: -38px;
    width: 335px;
    height: 335px;
    background-image: url(../images/pc/products-milkshakes.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/pc/products-milkshakes-2x.png);
    }
  }
}

.product-list__name::after {
  content: '';
  margin-top: 30px;
  display: flex;
  width: 26px;
  height: 6px;
  background: url(../images/dots.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }
}

.product-list__text {
  @include font(700, 14px, 1.52);
  color: var(--section-text-on-dark-bg-color);
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    @include font($lh: 1.76);
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 1.76);
    margin-bottom: 62px;
  }
}

.product-list__text--dissapear {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.products .slick-prev {
  left: 0px;
}

.products .slick-next {
  right: 0px;
}

.products .slick-prev,
.products .slick-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(1) translate(0, 50%);
  opacity: 0.25;
  z-index: 5;

  // &:hover,
  // &:focus,
  &:active {
    transform: scale(1.2) translate(0, 50%);
    opacity: 0.75;
  }
}

.products .slick-next::before,
.products .slick-prev::before {
  content: '';
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products .slick-next::before {
  background-image: url(../images/ice-cream-right.png);
}

.products .slick-prev::before {
  background-image: url(../images/ice-cream-left.png);
}

.products .slick-dots button {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  opacity: 0.35;
}

.products .slick-dots li {
  margin: 0 35px;
}

.products .slick-dots button#slick-slide-control10 {
  background-image: url(../images/mob/products-ice-cream-mob.png);
}

.products .slick-dots button#slick-slide-control11 {
  background-image: url(../images/mob/products-ice-coffee-mob.png);
}

.products .slick-dots button#slick-slide-control12 {
  background-image: url(../images/mob/products-milkshakes-mob.png);
}

.products .slick-dots li.slick-active button {
  opacity: 1;
}

.products .slick-dots li button:before {
  content: '';
}

// .products .slick-dots li.slick-active button:before {
//   content: '';
//   position: absolute;
//   background-image: url(../images/home1.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 20px;
//   height: 20px;
//   opacity: 1;
// }
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 280px;
  max-height: 350px;
  overflow-y: scroll;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110; /* Должен быть выше чем у подложки*/

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: initial;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--first-product-background-color);
  transition: 0.3s all;
}
.product__title {
  font-family: 'Titan One', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.86;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  color: var(--section-head-text-color);
}
.product__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: var(--section-text-on-dark-bg-color);
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Стили для активных классов подложки и окна */

.active {
  opacity: 1;
  visibility: visible;
}

.js-modal-close {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-background-coloured-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--section-label-text-color);
  }
}

.js-modal-close:hover,
.js-modal-close:focus {
  color: var(--second-product-background-colorr);
}
